body {
	padding-top:80px;
	font-family: 'Helvetica', Arial, sans-serif;
	/*font-family: 'Comfortaa', sans-serif;*/
}

h2 { padding-left:25px; }

.clearer { clear:both; }

#spiders {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    max-width:100%;
}

.navbar { height:80px;background-color:#FFF; }
.navbar .navbar-brand img { height: 50px; }
.navbar .navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin:21px 15px 8px 0px;
	background-image: none;
	border:1px solid #F1F1F1;
	border-radius: 4px;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) background-color;
	background-color: #F6F6F6;
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(200,200,200,1);
	-moz-box-shadow: inset 0px 2px 3px 0px rgba(200,200,200,1);
	box-shadow: inset 0px 2px 3px 0px rgba(200,200,200,1);
}
.navbar .navbar-toggle.collapsed {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .navbar-toggle.collapsed:hover {
	background-color:#F6F6F6;
}
.navbar .navbar-toggle .icon-bar {
	background-color:#DDD;
}
.nav>li>a:focus { 
	background-color: transparent !important;
}

/* Sidebar navigation */

#menubar {
	position: fixed;
	z-index: 99;
	width: 100%;
	background-color: white;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(200,200,200,1);
	-moz-box-shadow: 0px 4px 8px 0px rgba(200,200,200,1);
	box-shadow: 0px 4px 8px 0px rgba(200,200,200,1);
}

#menubar>table {
	width:100%;
	height:100%;
}

.red { background-color: red !important;}

#logo { 
	display: none;
	height:0px;
	overflow:hidden;
	transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) height;
}

#logo.logo-expanded {
	height:90px;
	transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) height;
}

#logo img { 
	height:90px;
	margin-left:30px; 
}

.nav-sidebar {
	margin:25px -21px 25px -20px;
	background-color:rgba(255,255,255,0.8);
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
	color:#4A4A4A;
	font-weight:400;
	font-size:14px;
	color:#555;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: inline;
	line-height:33px;
	margin-left:25px;
}
.nav-sidebar > li > a:hover {
	color: #428bca;
	background-color: transparent;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #8ED7E2;
	background:transparent;
}

.nav-sidebar a::before,
.nav-sidebar a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #8ED7E2;
	content: '';
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.nav-sidebar a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.nav-sidebar a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.nav-sidebar a:hover::before, .nav-sidebar a:hover::after,
.nav-sidebar a:focus::before, .nav-sidebar a:focus::after {
	opacity: 1;
}

.nav-sidebar a:hover::before,
.nav-sidebar a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.nav-sidebar a:hover::after,
.nav-sidebar a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.pane {
	overflow:auto;
	padding-top:50px;
	opacity: 0;
	display:none;
}

.pane table.pane-table { width:100%;height:100%; }
.pane table.pane-table td.pane-td { vertical-align:middle;height:100%;width:100%; }
.pane p { text-align: justify; padding:25px; }
.pane h4 { text-decoration: underline; font-weight: bold;padding-left:25px; }

/* Home Pane */
#home-wrap {
	text-align:center;
	margin-right:0;
	padding:30% 0;
}
#home-wrap img { 
	width:80%; 
	max-width:400px; 
}

/* Project Showcase */
#prj-showcase-wrap {
	position: relative;
	height:0px;
	width:100%;
	overflow: hidden;
	opacity:0;
}

#prj-showcase-wrap.transitioning { opacity: 0.2; }

#prj-showcase-wrap #prj-showcase-separator {
	overflow: hidden;
	height:5px;
	margin:0 20%;
}
#prj-showcase-wrap #prj-showcase-separator::before {
	content:''; 
	display:block; margin:-25px auto 0;
	width:100%; height:25px;  
	border-radius:125px / 12px;  
	box-shadow:0 0 8px #888;
}

#prj-showcase {
	position:relative;
	margin:20px 30px 30px;
}

#prj-showcase-title {
	font-size:26px;
	color:#777;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:solid 1px #AAA;
}

.prj-showcase-text {
	font-family:'Roboto', sans-serif;
	font-size:14px;
	position:relative;
	min-height:300px;
	margin-bottom:10px;
}

#prj-showcase-close {
	position: absolute;
	top: -15px;
	right: 0;
	color:#777;
	cursor: pointer;
	font-size:18px;
}
#prj-showcase-close:hover {
	color:#8ED7E2;
}

/* Projects Pane */

#projects-wrap {
	-webkit-transition: opacity 0.1s 0.3s;
	-moz-transition: opacity 0.1s 0.3s;
	transition: opacity 0.1s 0.3s;
	padding:20px 30px;
}
#projects-wrap.showcasing { opacity: 0.4; }

.project-wrap {
	width:103px;
	height:103px;
	margin-right:10px;
	margin-bottom:10px;
	overflow: hidden;
	cursor: pointer;
	position:relative;
}

.project-wrap .overlay {
	background-color:rgba(128,128,128,0.4);
	opacity:0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99;
}

.project-wrap .img, .project-wrap img {
	height:103px;
	width:103px;
	max-width: 100%;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.project-wrap .img {
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:center center;
	background-size: contain;
}

.project-wrap:hover .img, .project-wrap:hover img {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.project-wrap:hover .overlay {
	opacity:1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.project-wrap .caption-wrap {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.3s;
	transition: transform 0.4s, opacity 0.3s;
	background-color:rgba(50,50,50,0.9);

	opacity: 0;
	position: absolute;
	height:30px;
	width: 100%;
	top:auto;
	bottom:0px;
	right:0;
	left:0;
	color:#FFF;
}

.project-wrap:hover .caption-wrap {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.project-wrap .caption-wrap .caption { padding:8px; }

#prj-showcase-carousel-wrap {
	float:left;
	width:316px;
	height:243px;
	margin:0 auto 45px;
	float:none;
	border:solid 1px #CCC;
	padding:7px;
	box-sizing:border-box;
}

#prj-showcase-carousel div, #prj-showcase-carousel img {
	width:300px;
	height:227px;
}

@media (min-width: 768px) {
	body {
		padding-top:120px;
	}
	.navbar { 
		height:120px;
		display:none; 
	}
	/*.navbar .navbar-brand img { height:90px;margin-left:30px; }*/
	#logo { 
		display:block; 
	}

	.pane {
		position: fixed;
		top:0;
		left:280px;
		right:0;
		bottom:0;
	}

	#prj-showcase-wrap {
		margin-top:40px;
		margin-right:30px;
	}

	#prj-showcase {
		margin-left:0;
	}

	#menubar {
		background-color:transparent;
		top:120px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 0px 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
		visibility: visible!important;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		width:260px;
	}
	#menubar>table td {
		padding-top:60px;
		padding-bottom:60px;
	}
	#menubar>table td ul {
		margin-right:0;
		margin-left:0;
	}

	#home-wrap {
		padding:0;
	}
	#home-wrap img { 
		max-width:400px;
		width:400px; 
		margin-right:28%;
	}

	#projects-wrap {
		padding:20px 0px;
	}

	.project-wrap {
		width:180px;
		height:180px;
		margin-right:30px;
		margin-bottom:30px;
	}

	.project-wrap .img, .project-wrap img {
		height:180px;
		width:180px;	
	}

	.project-wrap .caption-wrap {
		height:60px;
	}

	.project-wrap .caption-wrap .caption {
		padding:16px;
	}

	#prj-showcase-carousel-frame {
		padding:8px;
		border:solid 1px #BBB;
	}

	#prj-showcase-carousel-wrap {
		width:466px;
		height:336px;
		margin:0 35px 30px 0;
		float:left;
		border:solid 1px #CCC;
		padding:7px;
		box-sizing:border-box;
	}

	#prj-showcase-carousel div, #prj-showcase-carousel img {
		width:450px;
		height:320px;
		margin:0;
	}	
}

@media (min-width: 1122px) {
	#home-wrap img { 
		max-width:570px;
		width:570px; 
		text-align:center; 
	}
	#prj-showcase-carousel-wrap {
		width:664px;
		height:507px;
		margin:0 35px 30px 0;
		border:solid 1px #CCC;
		padding:7px;
		float:left;
		box-sizing:border-box;
	}
	
	#prj-showcase-carousel div, #prj-showcase-carousel img {
		width:650px;
		height:492px;
	}
}

/* With Carousel */

.md {
	width: 100%;
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
}

#prj-showcase-content-wrap {
	text-align: justify;
	padding-right: 35px;
}

.slick-prev { left:10px; } 
.slick-next { right:10px; }
